<div class="container">
  <form>
    <div class="p-grid">
      <div class="p-col"><h1>Nova Pessoa</h1></div>
    </div>

    <div class="p-grid">
      <div class="p-col ui-fluid">
        <label>Nome:</label>
        <input pInputText />
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-9 p-md-9 p-lg-9 ui-fluid">
        <label>Logradouro:</label>
        <input pInputText />
      </div>
      <div class="p-col-3 p-md-3 p-lg-3 ui-fluid">
        <label>Número:</label>
        <input pInputText />
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12 p-md-4 p-lg-4 ui-fluid">
        <label>Complemento:</label>
        <input pInputText />
      </div>
      <div class="p-col-12 p-md-4 p-lg-4 ui-fluid">
        <label>Bairro:</label>
        <input pInputText />
      </div>
      <div class="p-col-12 p-md-4 p-lg-4 ui-fluid">
        <label>CEP:</label>
        <input pInputText />
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-6 p-md-6 p-lg-6 ui-fluid">
        <label>Cidade:</label>
        <input pInputText />
      </div>
      <div class="p-col-6 p-md-6 p-lg-6 ui-fluid">
        <label>Estado:</label>
        <input pInputText />
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-6 p-justify-start ui-fluid">
        <p-button label="Salvar"></p-button>&nbsp;
        <p-button label="Novo"></p-button>&nbsp;
        <a href="#">Voltar para pesquisa</a>&nbsp;
      </div>
    </div>
  </form>
</div>
