.classValor {
  text-align: right;
  width: 120px;
}
.classData {
  text-align: center;
}
.classButtonsTable {
  display: flex;
  justify-content: space-around;
}

.classButtonsHeader {
  width: 100px;
}
